/*burger*/


#burger-checkbox {
  display: none;

}
.burger-icon {
  font-size: 2em;

}

@media (max-width: 500px) {
  .header-nav__menu {
    display: none;
  }
  #burger-checkbox:checked ~ .header-nav__menu {
    display: flex;
  }
}

@media (min-width: 500px) {
  .burger-icon {
    display: none;
  }

}
