.nav-logo {
  width: 350px;
}

.header-nav__menu {
  display: inline-flex;
  margin-left: auto;
  font-size: 18px;
}

.header-nav__menu-item {
  text-decoration: none;
  cursor: pointer;
}

.container {
  display: flex;
  padding-top: 30px;
  padding-left: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bg-color);
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    padding-top: 100px;
}

.first_button {
    width: 200px;
    background-color: #f1c40f;
    color: black;
    border: none;
    display: block;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
}

.header-banner {
text-align: center;
margin-bottom: 20px;
}

.navigation_enter {
    width: 350px;
    height: 40px;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.icons_fire {
    width: 60px;
    padding-left: 15px;
}

.icons_truck {
    width: 60px;
}

.icons_bat {
    width: 60px;
}

.icons_description {
    margin: auto;
}

.icon {
    display: block;
    width: 1200px;
    padding: 20px 0 20px 150px;
    margin: auto;
}

.description {
    margin: auto;
display: inline-block;
padding-left: 70px;
padding-top: 50px;
width: 900px;
font-size: 17px;
}


@media (max-width: 1220px) {
    .icon {
        display: block;
        width: 900px;
        padding: 20px 0 20px 150px;
        margin: auto;
    }

    .description {
        margin: auto;
    display: inline-block;
    padding-left: 70px;
    padding-top: 50px;
    width: 700px;
    font-size: 17px;
    }

    .icons_description {
        margin: auto;
        width: 100%;
    }
}

@media (max-width: 400px) {
    .nav-logo {
        width: 180px;
      }

    .header-nav__menu {
        display: inline-flex;
        font-size: 10px;
        margin-right: 70px;
      }

      div {
        max-width: 500px;
      }

      nav > ul {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 10vw;
    }

    .icon {
        display: block;
        width: 600px;
        padding: 10px 0 10px 70px;
        margin: auto;
    }

    .description {
        margin: auto;
    display: inline-block;
    padding-left: 40px;
    padding-top: 20px;
    width: 400px;
    font-size: 17px;
    }

    .header-nav__menu-item {
padding-right: 50px;
width: 100px;
    }
}